body {
	background: url(img/background.jpg);
	font-family: helvetica;
}

.form {
	height: 600px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #FFF;
	margin: 10px 430px;
	background: #FFF;
}

.form .content {
	padding-top: 40px;
	margin-left: 30%;
	margin-right: 30%;
}

.content input {
	display: block;
	text-align: center;
	margin-left: 15px;
}

.content .field {
	margin-top: 30px;
	border: 0px;
	border-bottom: 1px solid #000;
}

.content .field:focus {
	border-bottom: 0px;
}

.content .btn {
	margin-left: 45px; 
	margin-top: 40px;
	border: 0px;
	padding: 10px 20px;
	border-radius: 10px;
}

.content .btn:hover {
	background: #FFF;
	cursor: pointer;
}