.wrapper {
	background: #363636;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 5px;
	border-radius: 3px;
}

form {
	width: 275px;
	background: #191919; 
	padding: 10px;
	border-radius: 3px;
}

header{
	background: url('images/main-line.png');
	width: 260px;
	height: 45px;
	border-radius: 5px;
	margin-left: 7px; 
	text-align: center;
}

header p {
	color: #fff;
	margin-top: 5px;
	padding: 13px;
}

form div {
	
}

form div input {
	width: 230px;
 	height: 27px;
 	padding-left: 10px;
 	background: #181818;
 	color: #757575;
 	border: 0;
 	border-radius: 5px;
 	box-shadow: inset 0 2px 0 0 #060606;
 	outline: none;
}

.user img {
	width: 23px;
	height: 23px;
	margin-top: 15px;
}

.pass img {
	width: 23px;
	height: 23px;
}

.date img {
	width: 21px;
	height: 21px;
	padding: 1px;
}

input[type="button"] {
	background: #3E3E3E;
	color: #fff;
	border: 0;
	float: right;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0 -3px #363636 inset;
  	transition: 0.2s;
  	outline: none;
}
input[type="button"]:hover { 
	background: #343434;
}
input[type="button"]:active {
  	background: #090909;
  	box-shadow: 0 3px #090909 inset;
}

.remember input, label {
	color: #fff;
	display: inline-flex;
	box-shadow: none;
}